.redDisplay {
    color: red;
    display: inline-block;
    font-size: 2em;
}

.sameSize {
    font-size: 1.5em;
}

#total {
    display: inline-block;
}

.alert {
    position: relative;
    padding: 3rem;
}

.grayBackground {
    border-radius: 10px;
    border: 10px solid gray;
    text-align: center;
}


.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
}